---
apiVersion: v1
kind: Secret
metadata:
  name: infra-repo-secret
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  url: {{ infrastructure_git_repository }}
  password: {{ gitlab_token_for_argocd }}
  username: {{ gitlab_username }}
