apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  annotations:
    argocd.argoproj.io/sync-wave: "3"
  labels:
    app: nginx
    tier: frontend
spec:
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
        tier: frontend
    spec:
      imagePullSecrets:
        - name: gitlab-registry-secret
      containers:
        - name: nginx
          image: "{{ gitlab_container_registry }}/nginx:v1.0"
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: http
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "250m"
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  annotations:
    argocd.argoproj.io/sync-wave: "-4"
  labels:
    app: nginx
spec:
  selector:
    app: nginx
  ports:
    - name: http
      port: 8080
      targetPort: 8080

