# Strategic merge patch for general-voki-taking-service in staging
# Uncomment / adjust as needed
apiVersion: apps/v1
kind: Deployment
metadata:
  name: general-voki-taking-service
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: general-voki-taking-service
          image: "{{ gitlab_container_registry }}/general-voki-taking:main-stable"
          resources:
            requests:
              memory: "128Mi"
              cpu: "10m"
            limits:
              memory: "512Mi"
              cpu: "500m"
