# Strategic merge patch for vokis-catalog-service in staging
# Uncomment / adjust as needed
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vokis-catalog-service
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: vokis-catalog-service
          image: "{{ gitlab_container_registry }}/vokis-catalog:main-stable"
          resources:
            requests:
              memory: "128Mi"
              cpu: "10m"
            limits:
              memory: "512Mi"
              cpu: "500m"
